.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Add some spacing between cards */
}

.card {
    width: 45%; /* Each card takes 45% of the row width */
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding: 15px;
}

    .card img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

.card:hover .card-image-wrapper img {
    transform: scale(1.1); /* Scale the image slightly on hover */
}

@media (max-width: 500px) {
    .card {
        width: 48%; /* Adjust width for smaller mobile screens */
    }
}

@media (min-width: 768px) {
    .card {
        width: 30%; /* Adjust width for tablets and larger screens */
    }
}

@media (min-width: 1024px) {
    .card {
        width: 20%; /* Adjust width for larger desktop screens */
    }
}