body {
}

.header {
    background-color: #1c1c1c;
    color: #ecf0f1;
    padding: 10px;
    position: relative;
    z-index: 1100;
    display: flex;
    justify-content: center; /* Centrerar loggan inom headern */
    align-items: center;
    height: 120px;
    width: calc(100% - 260px); /* Dra av sidomenyns bredd från 100% */
    margin-left: 260px; /* Flytta headern till höger om sidomenyn */
    box-sizing: border-box;
}

.header-logo {
    max-height: 80px;
    width: auto;
}
